<component name="libraryTable">
  <library name="spring-data-jpa">
    <CLASSES>
      <root url="file://$MAVEN_REPOSITORY$/org/springframework/data/spring-data-jpa" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$MAVEN_REPOSITORY$/org/springframework/data/spring-data-jpa" recursive="false" />
  </library>
</component>